@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;700&family=Lateef&family=Merriweather:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  z-index: 999;
  /*background: #f2810d; */
  font-family: "Cormorant Garamond", sans-serif;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 15px 0;
  background: #f2810d;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  background: #f2810d;
}

/* menu button styling */

.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* home section styling */

.home {
  display: flex;
  background: url("images/banner.jpg") no-repeat center;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  min-height: 500px;
  font-family: "Cormorant Garamond", sans-serif;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: #f2810d;
  font-weight: 500;
}

/* .home .home-content a {
  display: inline-block;
  background: #f2810d;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  border-radius: 6px;
  border: 2px solid #f2810d;
  transition: all 0.3s ease;
}

.home .home-content a:hover {
  color: #f2810d;
  background: none;
} */

/* all similar styling */
section {
  padding: 100px 0;
}

.about .services .skills {
  font-family: "Cormorant Garamond", sans-serif;
}

.about .about-content,
.projects .projects-content,
.skills .skills-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Cormorant Garamond", sans-serif;
}

section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

section .title::after {
  position: absolute;
  bottom: -7px;
  left: 50%;
  font-size: 20px;
  color: #f2810d;
  padding: 5px;
  background: #fff;
  transform: translateX(-50%);
}

/* about section styling */

.about .title::after {
  content: "";
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right .text span {
  color: #f2810d;
}

.about .about-content .right p {
  text-align: justify;
}

.about .about-content .right a {
  display: inline-block;
  background: #f2810d;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #f2810d;
  transition: all 0.3s ease;
}

.about .about-content .right a:hover {
  color: #f2810d;
  background: none;
}

/* projects section styling */

.projects {
  color: #fff;
  background: #111;
}

.projects .title::before {
  background: #fff;
}

.projects .title::after {
  background: #111;
  content: "";
}

.projects .projects-content .card {
  width: calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3 ease;
}

.projects .projects-content .card:hover {
  background: #f2810d;
}

.projects .projects-content .card .box {
  transition: all 0.3 ease;
}

.projects .projects-content .card:hover .box {
  transform: scale(1.05);
}

.projects .projects-content .card i {
  font-size: 50px;
  color: #f2810d;
  transition: color 0.3 ease;
}

.projects .projects-content .card:hover i {
  background: #fff;
}

.projects .projects-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

/* skills section styling */

.skills .title::after {
  content: "";
}

.skills .skills-content .column {
  width: calc(50% - 30px);
}

.skills .skills-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.skills .skills-content .left p {
  text-align: justify;
}

.skills .skills-content .right .bars {
  margin-bottom: 15px;
}

.skills .skills-content .right .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills .skills-content .right .info img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.skills .skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}

/* responsive media query start  */

@media (max-width: 1300) {
  .home .max-width {
    margin-left: 0px;
  }
}

@media (max-width: 1104) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 947px) {
  .max-width {
    padding: 0;
  }
}

@media (max-width: 947px) {
}

.menu-btn {
  display: block;
  z-index: 999;
}

.menu-btn i.active:before {
  content: "\f00d";
}

.navbar .menu {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: -100%;
  top: 0;
  background: #111;
  text-align: center;
  padding-top: 80px;
  transition: all 0.3s ease;
}

.navbar .menu.active {
  left: 0;
}

.navbar .menu li {
  display: block;
}

.navbar .menu li a {
  display: inline-block;
  margin: 20px 0;
  font-size: 25px;
}

.home .home-content .text-2 {
  font-size: 70px;
}

.home .home-content .text-3 {
  font-size: 35px;
}

.max-width {
  max-width: 800px;
}

.about .about-content .column {
  width: 100%;
}

.about .about-content .left {
  display: flex;
  justify-content: center;
  margin: 0 auto 60px;
}

.about .about-content .right {
  flex: 100%;
}

.projects .projects-content .card {
  width: calc(50% -10px);
  margin-bottom: 20px;
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }

  .home .home-content .text-2 {
    font-size: 60px;
  }

  .home .home-content .text-3 {
    font-size: 32px;
  }

  .projects .projects-content .card,
  .skills .skills-content .column {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }

  .home .home-content .text-3 {
    font-size: 27px;
  }
}
